<body>
<div class="container">
  <div class="lado-esquerdo">
    <img src="https://a.imagem.app/bd3lhT.jpeg" alt="bd3lhT.jpeg" class="logo"/>
    <a href="#" class="botaoIniciarPedido">
      <img src="https://a.imagem.app/bd36by.png" alt="bd36by.png"/>
      Cardápio
      <img src="https://a.imagem.app/bd3kum.png" alt="bd3kum.png" class="seta"/>
    </a>

    <a href="#" class="botaoChamarGarcom">
      <img src="https://a.imagem.app/bdoUS3.png" alt="bdoUS3.png"/>
      Chamar Garçom
      <img src="https://a.imagem.app/bd3kum.png" alt="bd3kum.png" class="seta"/>
    </a>
  </div>
  <div class="imagem-ilustrativa">
    <img src="https://a.imagem.app/bd3XNP.jpeg" alt="bd3XNP.jpeg"/>
  </div>
</div>
</body>