<div class="container">
  <div class="lado-esquerdo">
    <img class="logo" src="../assets/images/logo.png" alt="">
    <a href="#" class="botaoIniciarPedido">
      <img src="../assets/icons/garfo-faca.png" alt="garfo-faca">
      Cardápio
      <img src="../assets/icons/seta.png" alt="seta" class="seta">
    </a>

    <a href="#" class="botaoChamarGarcom">
      <img src="../assets/icons/garcom.png" alt="garcom">
      Chamar Garçom
      <img src="../assets/icons/seta.png" alt="seta" class="seta">
    </a>
    <!-- <button alt="" class="botaoIniciarPedido">Cardápio</button> -->
    <!-- <button class="botaoChamarGarcom">Chamar Garçom</button> -->
  </div>
  <div class="imagem-ilustrativa">
    <img src="../assets/images/imagem-inicio.png" alt="">
  </div>
</div>